STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
#REDIS_URL=redis://localhost:6379
JWT_SECRET=dfsdds
COOKIE_SECRET=dsfdsf
DATABASE_URL=postgres://admin:S3cret@localhost:5432/nimbus-medusa-dev
DB_NAME=nimbus-medusa-dev
BUSINESS_CENTRAL_CLIENT_ID=
BUSINESS_CENTRAL_CLIENT_SECRET=
BUSINESS_CENTRAL_DISCOVERY_URL=https://api.businesscentral.dynamics.com/v2.0/f44eef10-122f-4a63-9f5c-bd9fbd87a364/TestDK/api/v2.0